.common-header-wrap {
  height: 354px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(90deg, #003049 0%, #003049 100%);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.common-header-right-wrap {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.common-header-right-wrap p {
  color: #ffffff;
  font-family: "Archivo", serif;
  margin-top: 14px;
}

.common-header-right-wrap img {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 900px) {
  .logo-wrapper img {
    width: 300px;
  }
  .common-header-right-wrap {
    padding: 6px;
  }
  .common-header-right-wrap img {
    height: 30px;
    width: 30px;
  }

  .common-header-right-wrap p {
    margin-top: 6px;
  }
}

@media screen and (max-width: 450px) {
  .logo-wrapper img {
    width: 200px;
  }
  .common-header-right-wrap img {
    height: 20px;
    width: 20px;
  }

  .common-header-right-wrap p {
    margin-top: 2px;
    font-size: 14px;
  }
}
