@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jaldi:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.pointer{
  cursor: pointer;
}
