@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jaldi:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.mt-40 {
  margin-top: 40px;
}

.mt-25 {
  margin-top: 25px;
}

.active-color {
  background-color: #003049 !important;
  border: 1px solid #003049 !important;
}

.not-allowed {
  cursor: not-allowed;
}

.flex-column {
  flex-direction: column;
}

.w-94 {
  width: 94%;
}

.visibility-none{
  visibility: hidden !important;
}
